@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Palette */

  /* Background */
  --bg-primary: #121212;
  --bg-secondary: #280330;
  --bg-tertiary: #15223d;
  --bg-quaternary: #15262b;
  --bg-quinary: #1b0031;
  --bg-senary: #470038;
  --bg-septenary: #100029;

  /* Text */
  --text-primary: #E0E0E0;
  --text-secondary: #8899A6;

  /* Accents */
  --accent-primary: #7F00FF;
  --accent-secondary: #6AFB92;

  /* Colors */
    --burgendy: #ce3788;
    --lime: #37be37;
    --sky-blue: #409fc5;

    scroll-behavior: smooth;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.darkbg {
  background-color: var(--bg-primary);
  color:  var(--text-primary);
  accent-color: var(--accent-primary);
}

.grad1 {
  background-image: linear-gradient(
    180deg,
    var(--bg-primary), 
    var(--bg-secondary)
  );
}

.grad2 {
  background-image: linear-gradient(
    180deg,
    var(--bg-secondary), 
    var(--bg-tertiary)
  );
}

.grad2 {
  background-image: linear-gradient(
    180deg,
    var(--bg-secondary), 
    var(--bg-tertiary)
  );
}

.grad3 {
  background-image: linear-gradient(
    180deg,
    var(--bg-tertiary), 
    var(--bg-quaternary)
  );
}

.grad4 {
  background-image: linear-gradient(
    180deg,
    var(--bg-quaternary), 
    var(--bg-quinary)
  );
}

.grad5 {
  background-image: linear-gradient(
    180deg,
    var(--bg-quinary), 
    var(--bg-senary)
  );
}

.grad6 {
  background-image: linear-gradient(
    180deg,
    var(--bg-senary), 
    var(--bg-septenary)
  );
}

.pageheader {
    font-size: 50px;
    text-decoration: underline 2px var(--accent-primary);
}

.sectionlink {
    padding: 40;
}

.sectionlink:hover {
    font-weight: bold;
    color: var(--text-primary);
}